.box-container {
    z-index: 0;
    margin-top: 4em;
    overflow: visible;
    position: absolute;
    left: -45%;
    top: 70%;
    width: 100vw;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    line-height:150px;
    transform: rotate(90deg) scale(1);
    text-align: center;
}

@media all (min-width: 769px) {
  .box-container {
    margin-top: 4em;
    width: 100vw;
    position: absolute;
    left: 15%;
    top: -30%;
    transform: rotate(90deg) scale(1);
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .box-container {
    left: -40%;
    top: 10%;
    position: absolute;
    transform: rotate(90deg) scale(1);
  }
}

@media all and (max-width: 480px) {
  .box-container {
    margin-top: 4em;
    left: -38%;
    top: -15%;
    position: absolute;
    transform: rotate(90deg) scale(1);
  }
}

.box1 {
    width: 20px;
    height: 20px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(158,253,45,1) 100%);
}
.box2 {
    width: 20px;
    height: 20px;
    background: rgb(131,58,180);
    background: linear-gradient(40deg, rgba(131,58,180,1) 0%, rgba(138,29,253,1) 0%, rgba(252,176,69,1) 100%);
}
.box3 {
    width: 20px;
    height: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9090909090909091) 40%, rgba(0,212,255,1) 100%);
}


.box4 {
    width: 20px;
    height: 20px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.box5 {
    width: 20px;
    height: 20px;
    z-index: 2;
    background: rgb(107,233,235);
    background: linear-gradient(0deg, rgba(107,233,235,0.9) 0%, rgba(125,84,175,0.9) 100%);
}

.box6 {
    width: 20px;
    height: 20px;
    background: rgb(34,193,195);
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg, rgba(34,193,195,0.85) 0%, rgba(158,253,45,0.85) 100%);
}
.box7 {
    width: 20px;
    height: 20px;
    background: rgb(131,58,180);
    position: absolute;
    background: linear-gradient(40deg, rgba(131,58,180,1) 0%, rgba(138,29,253,1) 0%, rgba(252,176,69,1) 100%);
}
.box8 {
    width: 20px;
    height: 20px;
    background: rgb(2,0,36);
    position: absolute;

    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9090909090909091) 40%, rgba(0,212,255,1) 100%);
}


.box9 {
    width: 20px;
    height: 20px;
    position: absolute;
    background: rgb(131,58,180);
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.box10 {
    width: 20px;
    height: 20px;
    position: absolute;
    background: rgb(107,233,235);
    background: linear-gradient(0deg, rgba(107,233,235,1) 0%, rgba(125,84,175,1) 100%);
}
