.wrapper {
  padding: 0 20px;
  width: 100%;
}
.item {
  box-sizing: border-box;
  position: relative;
  color: #b8f2e6;
  background-color: var(--color-gray);
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  content: "";
}
.item > a:hover {
  color: #b8f2e6;
}
.small {
  box-sizing: border-box;
  display: block;
  font-size: 1.2em;
  margin: 0 0 0 auto;
  padding: 0 1.5em;
}
.item::after {
  background-color: var(--color-gray);
  display: inline;
  white-space: pre;
  content: "🔗1";
}
.link::before {
  display: inline;
}
.link {
  width: fit-content;
  margin: auto;
  color: #b8f2e6;
  color: orange;
}
.link::after {
  display: inline;
}
a .item:hover {
  border: none;
  text-decoration: underline;
  width: calc(100% - 30px);
  /* display: inline-block; */
  float: right;
}

a:hover {
  border: none;
  color: orange;
  text-decoration: underline;
  /* display: inline-block; */
}
