:root {
  --main-bg-color: #231f20;
  --arrow-height: 4px;
  --color: #231f20;
  --color-mint: #b8f2e6;
  --color-orange: hsl(313, 26%, 56%);
  --color-gray: #2f3744;
  --base: 1rem;
  --width: 960px;
  --body-font-width: 300;
  --body-font-weight: 300;
  --body-font-slant: 0;
  --heading-lineheight: 1;
  --heading-size: 500;
  --heading-quad: 0;
  --heading-bevl: 0;
  --heading-oval: 1000;
  --title-size: 0;
  --title-quad: 0;
  --title-bevl: 0;
  --title-oval: 0;
  --subheading-size: 0;
  --subheading-quad: 0;
  --subheading-bevl: 0;
  --subheading-oval: 0;
  --grid-gutter: var(--base);
  --grid-height: calc(2 * var(--base));
  --avatar-size: calc(12 * var(--base));
  --social-icon: var(--grid-height);
  --noise-size: 64;
  --arrow-file: url(/arrow.svg);
  --arrow-right-file: url(/arrow.svg);
}

.container {
  position: relative;
  min-height: calc(100vh + 50vh);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15%;
}

.arrows {
  flex-basis: calc(100% + 2 * 5);
  margin: calc(-1 * 20px);
  padding: 1.5em 0;
}

.arrows > .arrow {
  background-color: var(--color-orange);
  position: relative;
  height: var(--arrow-height);
}

.arrows > .arrow::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--arrow-height);
  background-color: var(--color-mint);
  mask: var(--mask);
  -webkit-mask: var(--mask);
  top: 100%;
  --mask: var(--arrow-file) 0% 100%/100% 200%;
}
.arrow:nth-of-type(2) {
  z-index: calc(10 - 1);
  background-color: var(--color-orange);
}
.arrow:nth-of-type(1) {
  z-index: calc(10 - 2);
  background-color: var(--color-mint);
}

.inner {
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.content-wrap {
  margin: auto;
  padding-bottom: 2.5rem; /* Footer height */
}
