.wrapper {
  position: absolute;
  right: 0;
  color: white;
  font-size: 0.7em;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
  justify-content: space-between;
}

a {
  font-size: 0.7em;
  color: white;
}
