.subheaderContainer {
  display: flex;
  flex-direction: column;
  font-size: var(--base);
  padding: 0 0 0 10px;
}

.subtitle {
  width: auto;
  padding: 0 10px;
}

.location {
  padding: 0 10px;
  width: auto;
}
